html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

.inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}

.sm-only {
  display: none;
}
@media not screen and (min-width: 576px) {
  .sm-only {
    display: block;
  }
}

.sec-ttl {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.44;
  text-align: center;
}
@media not screen and (min-width: 768px) {
  .sec-ttl {
    font-size: 2.4rem;
  }
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 1.1rem 0;
  width: 18.6rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.5s;
}
.btn:hover, .btn:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.btn-action {
  background: #006536;
}
.btn-contact {
  background: #4356b7;
}

.en {
  font-family: "Lato", sans-serif;
}