@use "./base/variable" as v;
.footer {
  padding: 4.9rem 0 2rem;
  background: #333;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.45;
    color: #fff;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover,
    &:focus {
      opacity: 0.7;
      transition: opacity 0.5s;
    }
    &:not(:last-child) {
      margin: 0 3rem 0 0;
      @include v.sm {
        margin: 0 1.5rem 0 0;
        font-size: 1.4rem;
      }
    }
  }
  &__copy {
    display: block;
    margin: 1.5rem 0 0;
    font-family: v.$fontLato;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
  }
}
