@use "./base/variable" as v;
.mv {
  padding: 10.5rem 0 14.3rem;
  background: url(../images/webp/mv.webp) no-repeat center/cover;
  &__inner {
  }
  .hero {
    text-align: center;
    @include v.md {
      text-align: left;
    }
    &__ttl {
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 2;
      @include v.md {
        font-size: 2.7rem;
      }
    }
    &__lead {
      margin: 4rem 0 0;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.75;
      @include v.md {
        font-size: 1.4rem;
      }
    }
    &__btn {
      margin: 4rem auto 0;
      @include v.md {
        margin: 6.5rem 0 0;
      }
    }
  }
}
